:root {
  font:
    16px/1.5 "Trebuchet MS",
    sans-serif;
  color: #24313b;
  background: #dfe8e8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100svh;
}

body {
  margin: 0;
}

p {
  margin: 0;
}
